.consultant-container {
  display: flex;
  font-style: Poppins;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

.head-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.head-container img{
  width: 135px;
  height: 125px;

}

.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  justify-content: 20px;
}
.match-container p {
font-size: 30px;
}
.main-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: left;
}
.footer-container {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container button {
  background-color: #24211F;
  color:white;
  font-family: 'Poppins', sans-serif;
  border:0px;
  border-radius:6px ;
  padding:8px 20px;
  max-height: 40px;
  font-size: 16px;
  margin-left: 10px;
}
.price-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
body{
  background: #000;
  font-family: 'Poppins', sans-serif;
}