nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem 1rem;
}
.nav-link-container {
    display: flex;
    justify-content: center;
    margin-right: 5rem;
}